[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
[access "refs/for/refs/*"]
	read = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	push = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	label-Code-Review = -2..+2 group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	label-Verified = -1..+1 group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	rebase = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	removeReviewer = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	submit = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
[access "refs/heads/*"]
	read = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	create = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	push = +force group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	pushMerge = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
[access "refs/tags/*"]
	push = +force group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	pushTag = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
	pushSignedTag = group user/Open Source Software for Rockchip SoCs(moved to https://github.com/rockchip-linux/) (rkchrome)
